*{
  font-family: sans-serif ;

}
.menu{
width: 100%;

}
ul{
  list-style: none;/*quitando viñetas*/
  float: left;/*haciendo que todas las lineas floten a la derecha*/
}

li{
  display: inline-block;
}
/*añadiendo a la clase barra que se encuentra dentro de menu color,borde circular,margen , tamaño y relleno*/
.menu .barra{
  background-color: #efefef;
  border-radius: 5px;
  margin: 0 16px;
  width: 70%;
  padding: 10px;
}
/*color del icono pinterest*/
.red{
 color: #c92228;
}
/*color del icono usuario lista comentario */
.icons{
  color:#b5b5b5;
}
a{
  text-decoration: none;
  color: white;

}
.boton{
  width: auto;
  height: auto;
  border-radius: 5px;
  background-color: green;
  padding: 20px;
  margin-left: 10px;
  float: left;

}
.submenu{
  display: inline-block;

}
